body {
  background-color: black;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: white;
}

.hidden-title {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

h2 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 60px;
}

.logo-image {
  width: 1000px;
  height: auto;
  display: block;
  margin: 40px auto 0 auto;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* Décale un peu vers le bas pour l'effet */
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}